.deal {
    grid-column: 3 / 4;
    grid-row: 7 / 8;

    background-image: url(../img/deal-img.jpg);
    background-size: cover;
    padding: 0rem 0rem 15rem 5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {

    }

    &__sub-title {

    }

    &__point {
        display: flex;
        align-items: center;
    }

    &__tick-icon {
        height: 3rem;
        width: 3rem;
        fill: $color-gold;
    }
}