.header {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: $color-blue-dark;
    height: 53vh;

    &__title {
        text-align: center;
        width: max-content;
        border-bottom: 0.2rem solid #fff;
        line-height: 4rem;
    }

    &__vid {
        height: 70rem;
        height: 70rem;
        transform: translateY(7rem);
        border-radius: 0.1rem;
    }
}